body{
background-size:cover;
-moz-background-size:contain;

-o-background-size:contain;
}
.change{
color:yellow;
font-family:arial;
}
.job{
color:sienna;
font-family:arial;
}
.welcome{
  color:teal;
    font-family:arial;
    }
