body {
    margin:0;
        padding:0;
            -moz-background-size: cover;
                background-size: cover;
                }

.change{
color:yellow;
font-family:arial;
}
.job{
color:sienna;
font-family:arial;
}
.welcome{
  color:teal;
    font-family:arial;
    }
